Flask==2.0.2
gunicorn==20.1.0
Jinja2==3.0.3
imutils==0.5.4
mediapipe==0.8.9.1
numpy==1.21.4
opencv_python==4.5.4.58


click==6.7
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.0
Flask-SocketIO
gevent
gevent-websocket
greenlet
itsdangerous
Pillow
python-engineio
python-socketio
redis
six
Werkzeug
